<nav class="navbar navbar-expand-lg" appScrollingNav>
  <div class="container-fluid">
  
    <a class="navbar-brand" routerLink="/">Online Shop</a>

    <div class="navbar-search">
      <input type="text" placeholder="Search..." class="form-control"/>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link btn-effect" routerLink="/register"><i class="fa-solid fa-user-plus"></i> Sign up</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link btn-effect" (click)="showLoginCard()"><i class="fa-solid fa-person-running"></i> Sign in</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link btn-effect" routerLink="/profile"><i class="fa-solid fa-user-secret"></i> Profile</a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link btn-effect" routerLink="/cart">
            <i class="fa-solid fa-cart-shopping"></i> Cart 
            <span class="badge bg-danger">{{ cartItemCount() }}</span>
          </a>
        </li>
        

      </ul>
    </div>
  </div>
</nav>

@if (loginCardVisible()) {
  <div class="login-backdrop" (click)="hideLoginCard()">
    <div class="login-container" (click)="$event.stopPropagation()">
      <app-signin (close)="hideLoginCard()"></app-signin>
    </div>
  </div>
}
