<nav class="navbar navbar-expand-lg" appScrollingNav>
  <div class="container-fluid">
    <!-- Logo Section -->
    <a class="navbar-brand" routerLink="/">Online Shop</a>

    <!-- Search Section -->
    <div class="navbar-search">
      <input type="text" placeholder="Search..." class="form-control"/>
    </div>

    <!-- Hamburger Icon for Mobile View -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items (Sign up, Sign in, Profile) -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link btn-effect" routerLink="/register"><i class="fa-solid fa-user-plus"> </i> Sign up</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link btn-effect" (click)="showLoginCard()"><i class="fa-solid fa-person-running"></i> Sign in</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link btn-effect" routerLink="/profile"><i class="fa-solid fa-user-secret"></i> Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>





@if (loginCardVisible()) {
  <div class="login-backdrop" (click)="hideLoginCard()">
    <div class="login-container" (click)="$event.stopPropagation()">
      <app-signin (close)="hideLoginCard()"></app-signin>
    </div>
  </div>
}
