.container {
  margin-top: 150px;
  position: relative;
  font-family: "Itim", cursive;
}

h2 {
  font-size: 40px;
  text-align: center;
}


.cart-icon {
  display: inline-block;
  font-size: 40px;
  transition: all 0.3s ease;
  position: relative;
}


.cart-icon .product-symbol {
  display: none; 
  position: absolute;
  top: -15px;
  left: -5px; 
  font-size: 30px;
  transition: all 0.3s ease;
}


.cart-icon:hover {
  transform: scale(1.2); 
}


.cart-icon:hover .product-symbol {
  display: block; 
  top: 0; 
  left: 5px; 
  font-size: 20px;
}



.table {
  width: 100%;
  margin-top: 40px;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-id-symbol {
  display: inline-block;
  color: white;
  font-size: 30px;
  text-align: center;
}

.scooter-animation {
  animation: moveScooter 3s ease-in-out infinite;
}


.total-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.price-box {
  background-color: #f1c40f; 
  border-radius: 15px; 
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
}

.price-box h4 {
  margin: 0; 
  color: #ffffff; 
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.price-box h4::before {
  content: "💰 ";
  font-size: 30px;
  color: #e74c3c; 
}

.price-box:hover {
  background-color: #f39c12; 
  cursor: pointer; 
}




@keyframes moveScooter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.product-info button {
  margin-left: 5px;
}

button:disabled {
  cursor: not-allowed;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mt-3 {
  margin-top: 15px;
}

.d-flex {
  display: flex;
}

.btn {
  margin: 5px;
}

.btn-sm {
  font-size: 14px;
}

.btn-danger {
  background-color: red;
  color: white;
}

.btn-warning {
  background-color: orange;
  color: white;
}

.btn-success {
  background-color: green;
  color: white;
}

table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

table td {
  font-size: 14px;
}

@media (max-width: 576px) {
  .price-box {
    background-color: #f1c40f; 
    border-radius: 15px; 
    padding: 4px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
  }
  
  .price-box h4 {
    margin: 0; 
    color: #ffffff; 
    font-size: 20px;
    font-weight: bold;
    text-align: right;
  }
}